  * {
                margin : 0;
                padding : 0;
                box-sizing: border-box;
            }

            html,body{
                width: 100%;
                height: 100%;
            }

            #m1{
                width: 500px;
                height: 400px;
                background-color: red;
            }



            /* input{
                display: block;
            }

            #main{
                padding: 30px;
                width: 100%;
                height: 100%;
                background-color: rgb(38, 29, 47);
            }

            .card{
                max-width: 300px ;
                color: white;
                margin-top: 20px;
                border-radius: 10px;
                padding: 20px;
                border: 1px solid #eeee;
                display: inline-block;
            }

            .profile{
                width: 50px;
                height: 50px;
                background-color: red;
                border-radius: 50%;
                margin-bottom: 8px;
                overflow: hidden ;
            
            }

            .profile img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* border-radius: 50%; */
                
            }

            .card h5{
                margin-top: 3px;
            }

            .card p{
                font-size : 12px;
                margin-top: 12px;

            } */

            /* h1{
                color: rgba(14, 14, 146, 0.424);
                font-size: 250px;
                font-weight: 200;
                user-select: none;
                letter-spacing: -1rem;
            }  */

            /* #ipt{
                display : none;
            }

            #btn{
                padding: 19px 18px;
                background-color: rgb(39, 100, 232);
                color: rgb(75, 250, 5);
                border-radius: 30px;
            }

            #btn:hover{
                background-color : rgb(53, 53, 150);
                cursor : pointer;
            } */
            