  * {
                margin : 0;
                padding : 0;
                box-sizing: border-box;
            }

            html,body{
                width: 100%;
                height: 100%;
            }

            body{
                overflow: hidden;
                position: relative;
                padding: 30px;

            }

            .lt{
                text-decoration: line-through;

            }
            /* #m1{ */
                /* position: absolute; */
                /* transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
                justify-content: center;
                width: 150px;
                height: 100px;
                background-color: red;
            } */

            /* #b1{
                position: absolute;
                border-radius: 50%;
                color: blue;
                background-color: rgb(141, 130, 130);
                padding: 10px;
                border-color: blue;
            } */

            /* #parent{
                position: relative;
                
                background-color: aqua;
            } */



            /* input{
                display: block;
            }

            #main{
                padding: 30px;
                width: 100%;
                height: 100%;
                background-color: rgb(38, 29, 47);
            }

            .card{
                max-width: 300px ;
                color: white;
                margin-top: 20px;
                border-radius: 10px;
                padding: 20px;
                border: 1px solid #eeee;
                display: inline-block;
            }

            .profile{
                width: 50px;
                height: 50px;
                background-color: red;
                border-radius: 50%;
                margin-bottom: 8px;
                overflow: hidden ;
            
            }

            .profile img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* border-radius: 50%; 
                
            } */

            /* .card h5{
                margin-top: 3px;
            }

            .card p{
                font-size : 12px;
                margin-top: 12px;

            }  */

            /* h1{
                color: rgba(14, 14, 146, 0.424);
                font-size: 250px;
                font-weight: 200;
                user-select: none;
                letter-spacing: -1rem;
            }  */

            /* #ipt{
                display : none;
            }

            #btn{
                padding: 19px 18px;
                background-color: rgb(39, 100, 232);
                color: rgb(75, 250, 5);
                border-radius: 30px;
            }

            #btn:hover{
                background-color : rgb(53, 53, 150);
                cursor : pointer;
            } */
            