/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    hieght: 100%;
}

#box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    height: 350px;
    background-color: aqua;
}

#box1{

    width: 100px;
    height: 90px;
    background-color: blue;

}

#box2{
    width: 100px;
    height: 90px;
    background-color: grey;
}

#box3{
    width: 100px;
    height: 90px;
    background-color: yellow;
} */