*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}
#main{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    justify-items: center;
    /* position: relative; */
}

.btn{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 6px 8px 9px 4px;
}